.App {
  text-align: center;
  display: inline;
}

.App-menu{
  position: fixed;
  top: 10%;
  left: 0;
  height: 100%;
}

.App-logo{
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  margin:auto;
}

.App-menu button, .App-menu .App-logo{
  display: block;
}

.App-clock {
  z-index: 1;
}

.App-pointer {
  animation: App-logo-spin infinite 60s linear;
  z-index: 2;
}

.App-button{
  min-width: 20%;
  color: #11fae6;
  font-size: 16px;
  background-color: black;  
  border: 0;
  padding: 2%;
  margin: 2%;
  border-color: white;
  border-radius: 8px;
}

.App-header {
  background-color: #11fae6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #11fae6;
}

.App-form{
  width:50%;
  padding: 5%;
}

.App-panel{
  padding:5%;
}

.App-form form .form-group > *{
  margin-bottom:5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
